$transition-radio: all .3s ease;
$radio-color: $color-text-regular;
$radio-color-checked: $color-primary;
$radio-width: 20px;
$radio-height: 20px;

.radio-component {
  position: relative;
  display: flex;
  flex-shrink: 0;
  label {
    cursor: pointer;
  }

  input {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    width: $radio-width;
    height: $radio-height;

    &:checked:not(.non-checked):not(.indeterminate),
    &.checked {
      & + label {
        .box {
          border-color: $radio-color-checked;
          &:before {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
          }
        }
      }
    }
  }

  .check {
    transition: $transition-radio;
    opacity: 0;
    visibility: hidden;
    transform: scale(.8);
  }

  .box {
    position: relative;
    width: $radio-width;
    height: $radio-height;
    border: 2px solid $radio-color;
    border-radius: 50%;
    cursor: pointer;
    transition: $transition-radio;

    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background: $radio-color-checked;
      border-radius: 50%;
      opacity: 0;
      visibility: hidden;
      transform: scale(0);
      transition: $transition-radio;
    }

    &.margin {
      margin-right: 10px;
    }
    svg {
      .fill {
        fill: $radio-color-checked;
      }
      .stroke {
        stroke: $radio-color-checked;
      }
    }
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;
    user-select: none;
  }
}
