.input-file-component {
  label {
    display: block;
    margin-bottom: 10px;
  }
  .button {
    position: relative;
    cursor: pointer;
    input {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }

  &.disabled {
    .button {
      cursor: default;
    }
  }
}
