.grid {
  display: flex;
  margin: 0 -8px;
  flex-wrap: wrap;
  .col {
    padding: 0 8px;
    &-1 {
      width: calc(100% / 12 * 1);
    }
    &-2 {
      width: calc(100% / 12 * 2);
    }
    &-3 {
      width: calc(100% / 12 * 3);
    }
    &-4 {
      width: calc(100% / 12 * 4);
    }
    &-5 {
      width: calc(100% / 12 * 5);
    }
    &-6 {
      width: calc(100% / 12 * 6);
    }
    &-7 {
      width: calc(100% / 12 * 7);
    }
    &-8 {
      width: calc(100% / 12 * 8);
    }
    &-9 {
      width: calc(100% / 12 * 9);
    }
    &-10 {
      width: calc(100% / 12 * 10);
    }
    &-11 {
      width: calc(100% / 12 * 11);
    }
    &-12 {
      width: 100%;
    }
  }
}
