/**
 * Adaptivity mixins
 */
$bigDesktop: 1680px;
$desktop: 1440px;
$main: 1160px;
$hovers: 1025px;
$md: 960px;
$sm: 768px;
$xs: 575px;

@mixin bigDesktop {
  @media (min-width: $bigDesktop) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin main {
  @media (max-width: $main) {
    @content;
  }
}
@mixin hovers {
  @media (min-width: $hovers) {
    @content;
  }
}
@mixin md {
  @media (max-width: $md) {
    @content;
  }
}
@mixin sm {
  @media (max-width: $sm) {
    @content;
  }
}
@mixin xs {
  @media (max-width: $xs) {
    @content;
  }
}

/**
 * Font face mixin
 */
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.svg') format('svg');
  }
}

/**
 * Font size mixin
 */
@mixin font ($value) {
  font-size: ($value / $font-size-default-value) + rem;
}
@function rem ($value) {
  @return #{$value / $font-size-default-value}rem;
}
