// core
@import 'variables/index';
@import 'reset';
@import 'grid';
@import 'mixins';
@import 'utils';

// fonts
// @include font-face('Font name', '~assets/fonts/font_name/font_file', 400);

// common styles
body {
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: $font-weight-normal;
  color: $color-text-regular;
}

.page {
  margin: 40px 0;
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}
