$transition-checkbox: all .3s ease;
$checkbox-color: $color-text-regular;
$checkbox-color-checked: $color-primary;
$checkbox-width: 20px;
$checkbox-height: 20px;

$error-color: red;

.checkbox-component {
  position: relative;
  label {
    cursor: pointer;
  }

  input {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    width: $checkbox-width;
    height: $checkbox-height;

    &:checked:not(.non-checked):not(.indeterminate),
    &.checked {
      & + label {
        .box {
          border-color: $checkbox-color-checked;
          .check {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
          }
        }
      }
    }

    &.indeterminate:not(.checked) {
      & + label {
        .box {
          border-color: $checkbox-color-checked;
          &::before {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .check {
    transition: $transition-checkbox;
    opacity: 0;
    visibility: hidden;
    transform: scale(.8);
  }

  .box {
    position: relative;
    width: $checkbox-width;
    height: $checkbox-height;
    border: 2px solid $checkbox-color;
    border-radius: 3px;
    cursor: pointer;
    transition: $transition-checkbox;
    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      display: block;
      transition: $transition-checkbox;
      background: $checkbox-color-checked;
      border-radius: 2px;
      opacity: 0;
      visibility: hidden;
    }

    &.margin {
      margin-right: 10px;
    }
    svg {
      .fill {
        fill: $checkbox-color-checked;
      }
      .stroke {
        stroke: $checkbox-color-checked;
      }
    }
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;
    user-select: none;
  }

  .error {
    color: $error-color;
  }
  &-error {
    .box {
      border-color: $error-color;
    }
  }
}
