$font-family-default: Arial, sans-serif;
$font-family-secondary: '';

$font-size-default-value: 16; // for font size mixins in /assets/scss/mixins.scss

$font-size-heading: 48px;
$font-size-default: #{$font-size-default-value}px;

$line-height-heading: 56px;
$line-height-default: 24px;

$font-weight-normal: 400;
$font-weight-bold: 700;
